/* Estilos específicos para el componente Login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: '100%';
    border-radius: 10px;
    
  }
  
 /* Estilos generales para la tarjeta de inicio de sesión */
.login-card {
  background-color: #ffffff; /* Color blanco */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
  .login-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* Otros estilos específicos para móviles */
  }
}

/* Estilos para computadoras */
@media (min-width: 601px) {
  .login-card {
    max-width: 400px;
    /* Otros estilos específicos para computadoras */
  }
}

  
  h2 {
    color: #000000; /* Color negro */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #000000; /* Color negro */
  }
  
  input {
    display: inline;
    width: 93%;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
  input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }
  
  button {
    position: relative;
    display: inline-block;
    
    margin-top: 10px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #2a1083;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #2a1083;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #2a1083;
  }
  
  button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #2a1083;
  }
  
  button:active {
    transform: scale(0.9);
  }
  